section{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100%;
}
section > div > form{
    display: flex;
    flex-direction: column;
    align-items: center;
     border: 0px solid white;
     width:660px;
     background-color: white;
     border-radius: 20px;
     height:90vh;
}
.second > div:first-of-type{
    display: flex;
    justify-content:center;
    padding: 0 16px;
    width:100%;
    position: relative;
}
.second > div:first-of-type > span{
    left:16px;
    top:20px;
    position: absolute;
 }
 
.second > div:first-of-type > img{
    width: 35px;
    margin-top: 15px;
}
.second > div:nth-child(2){
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: 600;
    padding: 40px 0;
}
.second > div:nth-child(3){
    display: flex;
    justify-content: center;
    padding: 10px 70px;
    border: 1px solid #e0e2e5;
    border-radius: 30px;
    margin-bottom: 25px;
}
.second > div:nth-child(3) > img{
    width: 20px;
    margin-right: 10px;
}
.second > div:nth-child(3) > div{
    font-size: 15px;
    color:#3c4043;
    font-weight: 550;
}
.second > div:hover:nth-child(3){
    cursor: pointer;
    background-color:#f2f2f2;
}
.second > div:nth-child(4){
    display: flex;
    justify-content: center;
    padding: 10px 70px;
    border: 1px solid #e0e2e5;
    border-radius: 30px;
    margin-bottom: 25px;   
}
.second > div:nth-child(4) img{
    width: 20px;
    margin-right: 10px;
}
.second > div:nth-child(4) > div{
    font-weight: 600;
    font-size: 18px;
}
.second > div:hover:nth-child(4){
    cursor: pointer;
    background-color:#e6e6e6;
}
.second > div:nth-child(5){
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;
    width:313px;
    margin-bottom: 15px;
}
.second > div:nth-child(5) > span{
    border:1px solid #e0e2e5;
    flex:1;
    display: inline-block;
}
.second > div:nth-child(6){
    display: flex;
    justify-content: center;
    padding: 10px 80px;
    border-radius: 30px; 
    border:  1px solid black;
    width: 313px;
    /* margin-top: -15px; */
    margin-bottom: 40px;
    background-color: black;
}
.second > div:nth-child(6) > a{
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.second > div:hover:nth-child(6){
    cursor: pointer;
    background-color:#1a1a1a;
}
.second > div:nth-child(7){
    display: flex;
    justify-content: center;
    width: 300px;
    margin-bottom: 60px;
    margin-top: -25px;
}
.second > div:nth-child(7) > div{
    font-size: 14px;
    color: #536471;
}
.second > div:nth-child(7) > div > a{
    color: #1d9bf0;
}
.second > div:hover:nth-child(7) > div a{
    cursor: pointer;
    text-decoration: underline;
}
.second > div:nth-child(8){
    display: flex;
    width: 313px;
    color: #536471;
    font-size: 17px;
    margin-top: -18px;
    font-weight:550;
}
.second > div:nth-child(8) > a{
    color: #1d9bf0;
    margin-left: 5px;

}
.second > div:hover:last-of-type > a{
    cursor: pointer;
    text-decoration: underline;
}